.vote-container {
  display: flex;
  align-items: flex-start;
  font-size: large;
  font-family: Constantia;
  padding: 30px;
}

.vote-details {
  font-size: small;
  font-family: Constantia;
}

.details-container {
  margin-right: 80px;
}
